<!-- {{#if model}}
  {{#each model as |post|}}
    {{#link-to 'blog.posts.show' post}}{{post.title}}{{/link-to}}
    {{post.subtitle}}
    {{post.body}}
    {{#if post.published}}{{md-btn text='Unpublish' class='indigo darken-2' action='unpublish' actionArg=post}}{{else}}{{md-btn text='Publish' class='indigo darken-2' action='publish' actionArg=post}}{{/if}}>
    {{md-btn text='Edit' class='indigo darken-2' action='edit' actionArg=post}}{{md-btn text='Delete' class='indigo darken-2' action='delete' actionArg=post}}
  {{/each}}
{{else}}
  No posts. Start by adding the one.
{{/if}} -->
<div class="blog-post-banner-header one-edge-shadow">
  <div class="container">
    <h3 class="center white-text">This Post Is So The Index Route isn't Empty</h3>
    <h5 class="center white-text">We need to have the top post from the list appear here and register as active</h5>
  </div>
</div>
<div class="blog-post-body">
  <p class="blog-post-body-text">
    This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article.    This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article    This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article    This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article.     
    This is a Pretend Post Body Text to Simulate a Real Article.     This is a Pretend Post Body Text to Simulate a Real Article
  </p><br/>
  <div class="blog-post-banner-footer">
    {{#if post.published}}
      {{md-btn text='Unpublish' class='indigo darken-2' action='unpublish' actionArg=post}}
    {{else}}
      {{md-btn text='Publish' class='indigo darken-2' action='publish' actionArg=post}}
    {{/if}}
    {{md-btn text='Edit' class='indigo darken-2' action='edit'}}
    <div class="user-icon"><i class="mdi-maps-local-laundry-service indigo-color"></i></div>
    <div class="user-icon"><i class="mdi-hardware-phone-iphone indigo-color"></i></div>
    </div>
</div>
