<div class="row">
    {{#each model as |post|}}
      <div class="col l4 m6 s12">
        {{#md-card title=post.title
        image=post.imageUrl
        activator=true
        id="card-reveal"}}
          {{#md-card-content}}
              {{post.subtitle}}
          {{/md-card-content}}

          {{#md-card-action}}
            {{#if post.published}}
              {{#link-to 'blog.posts.show' post}}View{{/link-to}}
              <!-- <a{{action 'unpublish' post}}>Unpublish</a> -->
            {{else}}
              <a {{action 'publish' post}}>Publish</a>
            {{/if}}
            <a {{action 'edit' post}}>Edit</a>
            <a {{action 'delete' post}}>Delete</a>
          {{/md-card-action}}

          {{#md-card-reveal}}
              {{post.body}}
              <a {{action 'edit' post}}>Edit Post</a>
          {{/md-card-reveal}}
        {{/md-card}}
      </div>
    {{/each}}
</div>
