{{#if isEditing}}
  {{#md-modal close='cancel' class="test-modal"}}
{{#if sendingData}}
<div class="modal-content">
  <div class="col s10">
    {{md-loader}}
  </div>
</div>
{{else}}

  <div class="modal-content">
    {{md-input type="text" value=model.firstName label="First name"}}
    {{md-input type="text" value=model.lastName label="Last name"}}
    {{md-input type="text" value=model.email label="Email"}}
    {{md-select content=teams
    value=selectedTeam
    label="Team"
    prompt="Please choose..."
    optionLabelPath="content.name"
    optionValuePath="content"}}
  </div>
  <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" type="submit" {{action 'save'}}>Save!</a>
      <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'cancel'}}>Cancel</a></div>
{{/if}}

{{/md-modal}}
{{else}}
<!-- {{md-parallax image="http://lorempixel.com/580/250/nature/1"}} -->
<!-- {{user-profile}} -->
<div class="user-profile-banner-header">
  <div class="user-item">
      <img class="center clip-polygon" src="http://placehold.it/150x150"/>
  </div>
</div>
<div class="user-profile-banner-footer">
  <div class="user-icon"><span class="blue-grey darken-1 white-text border-4 skill-badge">Marketing</span></div>
  <div class="user-icon"><span class="blue-grey darken-1 white-text border-4 skill-badge">CSS3</span></div>
  <div class="user-icon"><span class="blue-grey darken-1 white-text border-4 skill-badge">HTML5</span></div>
  <div class="user-item"><h4 class="center">{{model.fullName}}</h4></div>
  <div class="user-icon"><span class="blue-grey darken-1 white-text border-4 skill-badge">EmberJS</span></div>
  <div class="user-icon"><span class="blue-grey darken-1 white-text border-4 skill-badge">SEO</span></div>
  <div class="user-icon"><span class="blue-grey darken-1 white-text border-4 skill-badge">EmberJS</span></div>
 </div>
<hr>
{{material-slider}}
<!-- <div class="row">
  <div class="col s12"><p>s12</p></div>
  <div class="col s12 m4 l2"><p></p></div>
  <div class="col s12 m4 l8"><p>{{responsive-video}}</p></div>
  <div class="col s12 m4 l2"><p></p></div>
</div> -->

<!-- <div class="user-profile-body">
  <div class="row">
    <div class="col s12 m6 l4 card small hoverable">
      <div class="card-image">
        <img src="http://placehold.it/50x100"/>
        <span class="card-title">Avengers</span>
      </div>
      <div class="card-content">
      The Avengers is eWebDesign.co's Elite Employment Unit Consisting Entirely of Administrators.
      We ensure the safety of the business plan as well as secure your childrens future. Do NOT
      Fuck w/ the avengers.
      </div>
      <div class="card-action">
        {{#link-to 'users.show' user class="collection-item"}}View Profile{{/link-to}}
        <button {{action 'edit' user}}>Edit</button>
        <button {{action 'delete' user}}>Delete</button>
      </div>
    </div>

    <!-- Role -->
    <!-- <div class="col s12 m6 l4">
      {{#md-card title="Card Title" id="basic-card"}}
        {{#md-card-content}}
        This area describes the role I play within my company
        {{/md-card-content}}
        {{#md-card-action}}
            {{#link-to "users"}}Link 1{{/link-to}}
            {{#link-to "users"}}Link 2{{/link-to}}
        {{/md-card-action}}
      {{/md-card}}
    </div> -->

    <!-- Skills -->
    <!-- <div class="col s12 m6 l4">
      <div class="col l3">
        <br>
      </div>
      <div class="col l3">
      </div>
    </div>
  <h6><label>Email:</label>{{model.email}}</h6>
  <button {{action 'edit'}}>Edit</button>
</div> -->

{{yield}}

{{/if}}

<!-- <div class="card-image">
  <img src="http://placehold.it/50x200"/>
  <span class="card-title">Avengers</span>
</div>
<div class="card-content">
The Avengers is eWebDesign.co's Elite Employment Unit Consisting Entirely of Administrators.
We ensure the safety of the business plan as well as secure your childrens future. Do NOT
Fuck w/ the avengers.
</div>
<div class="card-action">
  {{#link-to 'users.show' user class="collection-item"}}View Profile{{/link-to}}
  <button {{action 'edit' user}}>Edit</button>
  <button {{action 'delete' user}}>Delete</button>
</div> -->
