{{#if isEditing}}
{{#md-modal close='cancel' class="test-modal"}}
{{#if sendingData}}
<div class="modal-content">
<div class="col s10">
  {{md-loader}}
</div>
</div>
{{else}}
<div class="modal-content">
  {{md-input type="text" value=model.firstName label="First name"}}
  {{md-input type="text" value=model.lastName label="Last name"}}
  {{md-input type="text" value=model.email label="Email"}}
  {{md-select content=teams
  value=selectedTeam
  label="Team"
  prompt="Please choose..."
  optionLabelPath="content.name"
  optionValuePath="content"}}
</div>
<div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" type="submit" {{action 'save'}}>
        Save!
    </button>
    <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'cancel'}}>
        Cancel
    </a>
</div>
{{/if}}
{{/md-modal}}
{{else}}
  <div class="user-profile-banner-header">
    <div class="user-item">
      <img class="center clip-polygon" src="assets/images/Sarrah.jpg"/>
    </div>
    <div class="user-item">
      <h3 class="center">{{model.fullName}}</h3>
    </div>
  </div>
  <div class="user-profile-banner-footer one-edge-shadow">
    <div class="user-icon"><i class="mdi-maps-local-laundry-service indigo-color"></i></div>
    <div class="user-icon"><i class="mdi-action-favorite"></i></div>
    <div class="user-icon"><i class="mdi-action-favorite"></i></div>
    <div class="user-icon"><i class="mdi-action-favorite"></i></div>
    <div class="user-icon"><i class="mdi-action-favorite"></i></div>
    <div class="user-icon"><i class="mdi-action-favorite"></i></div>
    <div class="user-icon"><i class="mdi-action-favorite"></i></div>
  </div>
  <div class="user-profile-body">
    <h6><label>Team:</label>{{model.team.name}}</h6>
    <h6><label>Email:</label>{{model.email}}</h6>
    <button {{action 'edit'}}>Edit</button>
  </div>
{{/if}}
