<br>
<div class="row">
  <div class="flex-container-column col l1">
    <i class="flex-item fa fa-contao"></i>
    <i class="flex-item mdi-communication-business medium"></i>
    <i class="flex-item mdi-communication-phone medium"></i>
    <i class="flex-item mdi-social-group medium"></i>
    <i class="flex-item mdi-action-event medium"></i>
    <i class="flex-item mdi-action-assignment medium"></i>
  </div>
  <div class="col l8">
    {{outlet}}
  </div>
  <div class="col l3">
    <aside class="">
      <ul>
        <li class="list-group-item white-text">Thing
          <div class="secondary-content"><i class="mdi-action-bug-report"></i></div>
        </li>
        <li class="list-group-item white-text">Stuff
          <div class="secondary-content"><i class="mdi-action-account-box"></i></div>
        </li>
        <li class="list-group-item white-text">Item
          <div class="secondary-content"><i class="mdi-action-account-box"></i></div>
        </li>
        <li class="list-group-item white-text">More
          <div class="secondary-content"><i class="mdi-action-announcement"></i></div>
        </li>
        <li class="list-group-item white-text">Sweet
          <div class="secondary-content"><i class="mdi-action-assessment"></i></div>
        </li>
        <li class="list-group-item white-text">Features
          <div class="secondary-content"><i class="mdi-action-favorite"></i></div>
        </li>
      </ul>
    </aside>
  </div>
</div>
<!-- {{#md-fixed-btns
  class="fixed-btns-example"
  btnIcon="mdi-content-add"
  btnClass="btn-large lime darken-2"
  action="firstAction"
  actionArgs="0"}}

  {{md-fixed-btn
    btnClass="deep-purple"
    btnIcon="mdi-content-grade"
    action="anotherAction"
    actionArgs="abc"}}

  {{md-fixed-btn
    btnClass="green"
    btnIcon="mdi-action-redeem"
    action="anotherAction"
    actionArgs=myData}}

  {{md-fixed-btn
    btnClass="indigo"
    btnIcon="mdi-alert-warning"
    action="anotherAction"}}

{{/md-fixed-btns}} -->




<!--
<br>
{{#link-to 'crm.companies' class="white-text"}}
{{md-btn text='Companies'
  class='indigo darken-2'}}
{{/link-to}}
{{#link-to 'crm.companies.new' class="white-text"}}
{{md-btn text='Create New Company'
  class='indigo darken-2'}}
{{/link-to}} -->
