{{#md-modal close='closeModal' class="test-modal"}}
{{#if sendingData}}
<div class="modal-content">
<div class="col s10">
  {{md-loader}}
</div>
</div>
{{else}}





<form id="post-form" class="create-form" {{action 'add' on="submit"}}>
  <div class="modal-content">
  {{md-input type="text" value=model.title label="Post title"}}
  {{md-input type="text" value=model.subtitle label="Subtitle"}}
  <!-- <div class="input-field col s6">
    <input id="input_text" type="text" length="10">
    <label for="input_text">Input text</label>
  </div> -->
  {{md-textarea type="text" value=model.body label="Body Text"}}

  <div class="input-field col s12">
    <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
    <label for="textarea1">Textarea</label>
  </div>
  {{md-switch checked=model.published onLabel="Publish" offLabel="Unpublish"}}<br>
  Tags:
  {{ember-chosen
    content=tags
    optionLabelPath="name"
    optionValuePath="id"
    placeholder="Select tags for post"
    multiple=true
    value=selectedTags}}
</div>
<div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'add'}}>
        Add
    </a>
    <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'cancel'}}>
        Cancel
    </a>
</div>
</form>
{{/if}}
{{/md-modal}}
