<form id="employee-form" class="create-form" {{action 'addEmployee' on="submit"}}>
  {{md-input type="text" value=model.firstName label="Enter First Name"}}
  {{md-input type="text" value=model.lastName label="Enter Last Name"}}
  {{md-input type="email" value=model.email label="Enter Email"}}
  <!-- <select required>
    <option value="">None</option>
    {{#each roles as |role|}}
      <option {{action 'selectRole' role}}>{{role}}</option>
    {{/each}}
  </select> -->
  {{md-select content=roles
  value=role
  label="Role"
  prompt="Please choose..."
  optionLabelPath="employee.role"
  action="selectRole"
  optionValuePath="content"}}
  {{md-input type="text" value=model.title label="Enter Title"}}
  {{md-input type="tel" value=model.phone label="Enter Phone Number"}}
  <button type="submit">Add</button>
  <button {{action 'cancel'}} class="button">Cancel</button>
</form>
