{{#if isEditing}}
  {{md-input type="text" value=model.title label="Title"}}
  <select required>
    <option value="">None</option>
    {{#each stages as |stage|}}
      <option {{action 'selectStage' stage}}>{{stage}}</option>
    {{/each}}
  </select>
  {{md-input type="text" value=model.estimatedClose label="Estimated Close"}}
  {{md-input type="text" value=model.estimatedAmount label="Estimated Amount"}}
  <button class="button primary" {{action 'save'}}>Save</button>
  <button class="button" {{action 'cancel'}}>Cancel</button>
{{else}}

{{model.title}}
{{model.stage}}
{{model.estimatedClose}}
{{model.estimatedAmount}}
<button class="button primary" {{action 'edit'}}>Edit</button>
{{/if}}
