{{#if isEditing}}
  {{md-input type="text" value=model.title label="Title"}}
  {{md-select content=stages
  value=selectedStage
  label="Stages"
  prompt="Please choose..."
  optionLabelPath="content"
  optionValuePath="content"}}
  {{md-input type="text" value=model.estimatedClose label="Estimated Close"}}
  {{md-input type="text" value=model.estimatedAmount label="Estimated Amount"}}
  <button class="button primary" {{action 'save'}}>Save</button>
  <button class="button" {{action 'cancel'}}>Cancel</button>
{{else}}

{{model.title}}
{{model.stage}}
{{model.estimatedClose}}
{{model.estimatedAmount}}
<button class="button primary" {{action 'edit'}}>Edit</button>
{{/if}}
