{{#if isEditing}}
{{#md-modal close='closeModal' class="test-modal"}}
{{#if sendingData}}
<div class="modal-content">
<div class="col s10">
  {{md-loader}}
</div>
</div>
{{else}}
<div class="modal-content">
  {{md-input type="text" value=model.title label="Title"}}
  {{md-select content=stages
  value=selectedStage
  label="Stages"
  prompt="Please choose..."
  optionLabelPath="content"
  optionValuePath="content"}}
  {{md-input type="text" value=model.estimatedClose label="Estimated Close"}}
  {{md-input type="text" value=model.estimatedAmount label="Estimated Amount"}}
</div>
<div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" type="submit" {{action 'save'}}>
        Save!
    </button>
    <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'cancel'}}>
        Cancel
    </a>
</div>
{{/if}}
{{/md-modal}}
{{else}}
{{model.title}}
{{model.stage}}
{{model.estimatedClose}}
{{model.estimatedAmount}}
{{md-btn text='Edit' class='cyan darken-3' action='edit'}}
{{/if}}
