{{#if isEditing}}
  {{md-input type="text" value=model.name label="Name"}}
  {{md-textarea value=model.description label="Description"}}
  {{md-input type="text" value=model.dueDate label="Due date"}}
  {{md-select content=employees
  value=selectedEmployee
  label="Employee"
  prompt="Please choose..."
  optionLabelPath="content.fullName"
  optionValuePath="content"}}

  {{md-select content=users
  value=selectedUser
  label="Assigned to"
  prompt="Please choose..."
  optionLabelPath="content.fullName"
  optionValuePath="content"}}
  <button {{action 'save'}}>Save</button>
  <button {{action 'cancel'}}>Cancel</button>
{{else}}
  {{model.name}}
  {{model.description}}
  {{model.dueDate}}
  {{#link-to 'crm.companies.show.employees.show' model.employee}}{{model.employee.fullName}}{{/link-to}}
  {{model.user.fullName}}
  <button {{action 'edit'}}>Edit</button>
{{/if}}
