{{#if isEditing}}
  {{md-input type="text" value=model.name label="Name"}}
  {{md-textarea value=model.description label="Description"}}
  {{md-input type="text" value=model.dueDate label="Due date"}}
  <select required>
    <option value="">Employee</option>
    {{#each employees as |person|}}
      <option {{action 'selectEmployee' person}}>{{person.fullName}}</option>
    {{/each}}
  </select>
  <select required>
    <option value="">User</option>
    {{#each users as |person|}}
      <option {{action 'selectUser' person}}>{{person.fullName}}</option>
    {{/each}}
  </select>
  <button {{action 'save'}}>Save</button>
  <button {{action 'cancel'}}>Cancel</button>
{{else}}
  {{model.name}}
  {{model.description}}
  {{model.dueDate}}
  {{#link-to 'crm.companies.show.employees.show' model.employee}}{{model.employee.fullName}}{{/link-to}}
  {{model.user.fullName}}
  <button {{action 'edit'}}>Edit</button>
{{/if}}
