{{#if filterButtons}}
<button {{action 'filterByDay'}}>By Day</button>
<button {{action 'filterByWeek'}}>By Week</button>
<button {{action 'filterByMonth'}}>By Month</button>
<br/><br/>
{{/if}}
{{#if isShowingDayForecast}}
  {{ember-chart type='Line' data=dayCharts width=width height=height legend=legend}}
{{/if}}
<br/>
{{#if isShowingWeekForecast}}
  {{ember-chart type='Line' data=weekCharts width=width height=height legend=legend}}
{{/if}}
<br/>
{{#if isShowingMonthForecast}}
  {{ember-chart type='Line' data=monthCharts width=width height=height legend=legend}}
{{/if}}
<br/>
