<hr>
{{#if model}}
  {{#each model as |opportunity|}}
    {{#link-to 'crm.companies.show.opportunities.show' opportunity}}{{opportunity.title}}{{/link-to}}
    {{opportunity.stage}}
    {{opportunity.estimatedClose}}
    {{opportunity.estimatedAmount}}
    <button {{action 'editOpportunity' opportunity}}>Edit</button><button class="button primary" {{action 'deleteOpportunity' opportunity}}>Delete</button>
    <hr>
  {{/each}}
{{else}}
No opportunities. Start by adding one.
{{/if}}
