{{#md-navbar name='eWebDesign.co' class='cyan darken-4'}}
  {{#link-to 'crm' tagName='li'}}
    <i class="mdi-communication-business white-color">{{link-to 'crm'}}</i>
  {{/link-to}}
  {{#link-to 'estore' tagName='li'}}
    <i class="mdi-action-shopping-cart">{{link-to 'estore'}}</i>
  {{/link-to}}
  {{#link-to 'blog' tagName='li'}}
    <i class="mdi-maps-location-history">{{link-to 'blog'}}</i>
  {{/link-to}}
  {{#link-to 'todos' tagName='li'}}
    <i class="fa fa-check-square-o">{{link-to 'todos'}}</i>
  {{/link-to}}
  {{#link-to 'events' tagName='li'}}
    <i class="fa fa-calendar">{{link-to 'events'}}</i>
  {{/link-to}}
  {{#link-to 'pages' tagName='li'}}
    <i class="fa fa-file-code-o">{{link-to 'pages'}}</i>
  {{/link-to}}
  {{#link-to 'teams' tagName='li'}}
  <i class="fa fa-users">{{link-to 'teams'}}</i>
  {{/link-to}}
  {{#link-to 'users' tagName='li'}}
    <i class="mdi-action-shop">{{link-to 'users'}}</i>
  {{/link-to}}
  {{#link-to 'settings' tagName='li'}}
    <i class="fa fa-cogs">{{link-to 'settings'}}</i>
  {{/link-to}}
{{/md-navbar}}

<div style="margin: 0 10px;">
  {{liquid-outlet}}
</div>
{{md-modal-container}}
