{{#md-navbar name='eWebDesign.co' class='cyan darken-4'}}
  {{#link-to 'crm' tagName='li'}}
    {{link-to 'CRM' 'crm'}}
  {{/link-to}}
  {{#link-to 'estore' tagName='li'}}
    {{link-to 'eStore' 'estore'}}
  {{/link-to}}
  {{#link-to 'blog' tagName='li'}}
    {{link-to 'Blog' 'blog'}}
  {{/link-to}}
  {{#link-to 'todos' tagName='li'}}
    {{link-to 'Todos' 'todos'}}
  {{/link-to}}
  {{#link-to 'events' tagName='li'}}
    {{link-to 'Events' 'events'}}
  {{/link-to}}
  {{#link-to 'pages' tagName='li'}}
    {{link-to 'Pages' 'pages'}}
  {{/link-to}}
  {{#link-to 'teams' tagName='li'}}
    {{link-to 'Teams' 'teams'}}
  {{/link-to}}
  {{#link-to 'users' tagName='li'}}
    {{link-to 'Users' 'users'}}
  {{/link-to}}
  {{#link-to 'settings' tagName='li'}}
    {{link-to 'Settings' 'settings'}}
  {{/link-to}}
{{/md-navbar}}

<div style="margin: 0 10px;">
  {{liquid-outlet}}
</div>
{{md-modal-container}}
