<br>
<div class="row">
  <div class="user-index-aside col s12 l3">

      {{#link-to 'users.new' class="white-text"}}
      {{md-btn text='Add New User'
        class='blue-grey darken-1'}}
      {{/link-to}}

      {{#link-to 'teams.new' class="white-text"}}
      {{md-btn text='Add New Team'
        class='blue-grey darken-4'}}
      {{/link-to}}
      {{#link-to 'teams' class="white-text"}}
      {{md-btn text='View Teams'
        class='blue-grey darken-4'}}
      {{/link-to}}
      

      <br>
    </div>

    <div class="user-index-main col s12 l9">
    {{#each model as |user|}}
      <div class="col m6 l4 card small hoverable">
        <div class="card-image">
          <img src="http://placehold.it/100x200"/>
          <span class="card-title">{{user.fullName}}</span>
        </div>
        <div class="card-content">
          <label>Email </label>{{user.email}}
          <br><label>Priveleges </label>  {{user.team}}
        </div>
        <div class="card-action">
          {{#link-to 'users.show' user class="collection-item"}}View Profile{{/link-to}}
          <button {{action 'edit' user}}>Edit</button>
          <button {{action 'delete' user}}>Delete</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
