<!-- POST CONTENT
{{#if posts}}
<div class="layout-hf-holy-grail">
  <div class="body">
    <main class="z-depth-3">
      {{#each posts as |post|}}
      <div class="blog-post-banner-header one-edge-shadow">
        <div class="container">
          {{#link-to 'blog.posts.show' post}}
            {{content-editable value=post.title class="center white-text" tagName="h3" focus-out="saveEditable" type="text"}}
          {{/link-to}}
          {{content-editable value=post.subtitle class="center white-text" tagName="h5" focus-out="saveEditable" type="text"}}
        </div>
      </div>
      <div class="blog-post-body">
        <p class="blue-grey-text text-darken-1 blog-post-body-text">
          {{content-editable value=post.body tagName="h5" focus-out="saveEditable" type="text"}}
        </p>
        <p class="images">
          {{#each post.images as |image|}}
          {{#material-box}}
          <img src={{image.imgUrl}}>
          {{/material-box}}

          {{/each}}
        </p>
        <div class="blog-post-banner-footer">
          {{#if post.published}}
            {{md-btn text='Unpublish' class='blue-grey darken-1' action='unpublish' actionArg=post}}
          {{else}}
            {{md-btn text='Publish' class='blue-grey darken-1' action='publish' actionArg=post}}
          {{/if}}
          {{md-btn text='Delete' class='blue-grey darken-1' action='delete' actionArg=post}}
          <!-- <div class="user-icon"><i class="mdi-maps-local-laundry-service indigo-color"></i></div>
          <div class="user-icon"><i class="mdi-hardware-phone-iphone indigo-color"></i></div>
          </div>
      </div>
      {{/each}}
    </main>
    <aside>
      <ul>
        {{#each posts as |post|}}
          {{#link-to 'blog.posts.show' post}}
          <div class="list-group-item">
            <h5 class="blue-grey-text text-darken-4 o-hidden"><strong>
              {{content-editable value=post.title type="text"}}
            </strong></h5>
            <p class="blue-grey-text text-darken-4 o-hidden">{{post.subtitle}}</p>
          </div>
          {{/link-to}}
        {{/each}}
      </ul>
    </aside>
  </div>
</div>
{{else}}
<div class="else-text">
  No posts. Start by adding the one.
</div>
<div class="text-center">
  {{#link-to 'blog.tags.new' class="white-text"}}
  {{md-btn text='Add Tag'
    class='blue-grey darken-1'}}
  {{/link-to}}
  {{#link-to 'blog.posts.new' class="white-text"}}
  {{md-btn text='Add Post'
    class='blue-grey darken-1'}}
  {{/link-to}}
</div>
{{/if}}
-->

{{#if isShowingDataLayout}}
	{{#layoutview-data}}

  {{/layoutview-data}}
{{/if}}

{{#if isShowingTableLayout}}
	{{#layoutview-table}}

  {{/layoutview-table}}
{{/if}}

{{#if isShowingCardLayout}}
	{{#layoutview-card}}

  {{/layoutview-card}}
{{/if}}
