<ul class="collection with-header">
   <li class="collection-header"><h4>{{model.name}}</h4></li>
   <label>Address:</label>{{model.address}}
   <label>City:</label>{{model.city}}
   <label>State:</label>{{model.state}}
   <label>Phone:</label>{{model.phone}}
   <label>Email:</label>{{model.email}}
</ul>

{{#link-to 'crm.companies.show.employees' class="button"}}{{md-btn text='Employees' class='indigo darken-2'}} {{/link-to}}
{{#link-to 'crm.companies.show.opportunities' class="button"}}{{md-btn text='Opportunities' class='indigo darken-2'}} {{/link-to}}
{{#link-to 'crm.companies.show.tasks' class="button"}}{{md-btn text='Tasks' class='indigo darken-2'}} {{/link-to}}
<br/>
{{outlet}}
