<!-- BLOG TOP ROW -->

<div class="tag-cloud">
  <!-- {{#link-to 'blog.index' class="white-text"}}{{md-btn text='Posts' class='blue-grey darken-1'}}{{/link-to}} -->
  {{#link-to 'blog.posts.new'}}
  <!-- {{md-btn text='Add Post' class='blue-grey darken-1'}} -->
  <button class="waves-effect waves-light btn-inverse">Add Post</button>

  {{/link-to}}
  {{#link-to 'blog.tags.new'}}{{md-btn text='Add Tag' class='blue-grey darken-4'}}{{/link-to}}
  <!-- <span class="modal-action modal-close">
    {{md-btn icon='mdi-image-control-point'
      action='addPost' buttonType='floating'
      class='btn-large blue-grey darken-1'}}
  </span> -->

  <span class="view-toggle">
		<i class="fa fa-table" style="cursor:pointer;" {{action 'showTableLayout'}}></i>
		<i class="fa fa-list" style="cursor:pointer;" {{action 'showDataLayout'}}></i>
		<i class="fa fa-list-alt" style="cursor:pointer;" {{action 'showCardLayout'}}></i>
	</span>
</div>

{{outlet}}
