<!-- <br> -->
<div class="tag-cloud">
	{{#link-to 'estore.products.new'}}
	<!-- {{md-btn text='+ Product' class='blue-grey darken-1'}} -->
	<button class="waves-effect waves-light btn-inverse">Add Product</button>

	{{/link-to}}
	{{#link-to 'estore.categories.new'}}{{md-btn text='+ Category' class='blue-grey darken-1'}}{{/link-to}}

	<!-- {{#link-to 'estore.products.index'}}
	{{md-btn text='View Products'
		class='blue-grey darken-2'}}
	{{/link-to}} -->
	<span class="view-toggle">
		<i class="fa fa-table" style="cursor:pointer;" {{action 'showTableLayout'}}></i>
		<i class="fa fa-list" style="cursor:pointer;" {{action 'showDataLayout'}}></i>
		<i class="fa fa-list-alt" style="cursor:pointer;" {{action 'showCardLayout'}}></i>
	</span>
</div>


{{outlet}}
