{{#if isEditing}}
  {{#md-modal close='cancel' class="test-modal"}}
    {{#if sendingData}}
      <div class="modal-content">
        <div class="col s10">
          {{md-loader}}
        </div>
      </div>
    {{else}}
    <div class="modal-content">
      {{input type="text" value=model.title placeholder="Product Title"}}
      {{input type="text" value=model.description placeholder="Product Description"}}
      {{textarea type="text" value=model.price placeholder="Product Price..."}}
      <input type='file' id='file-field' /> Upload an image
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'save'}}>
            Save!
        </a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'cancel'}}>
            Cancel
        </a>
    </div>
  {{/if}}
{{/md-modal}}
{{else}}
<div class="blog-post-banner-header one-edge-shadow">
  <div class="container">
    <h3 class="center white-text">{{model.title}}</h3>
    <h5 class="center white-text">{{model.price}}</h5>
  </div>
</div>
<div class="blog-post-body">
  <p class="blog-post-body-text">{{model.description}}</p><br/>
  <div class="blog-post-banner-footer">
    {{md-btn text='Edit' class='blue-grey darken-1' action='edit'}}
    </div>
</div>
{{/if}}
