<!-- TRANSITIONAL MODAL -->
{{#if isEditing}}
  {{#md-modal close='cancel' class="test-modal"}}
    {{#if sendingData}}
      <div class="modal-content">
        <div class="col s10">
          {{md-loader}}
        </div>
      </div>
    {{else}}
    <div class="modal-content">
      {{input type="text" value=model.title placeholder="Product Title"}}
      {{input type="text" value=model.description placeholder="Product Description"}}
      {{textarea type="text" value=model.price placeholder="Product Price..."}}
      <p class="file-input-field"><input type='file' multiple id='file-field'/> Upload an image</p>
    <div class="file-list">

    </div>
    Categories:
    {{ember-chosen
      content=categories
      optionLabelPath="name"
      optionValuePath="id"
      placeholder="Select product categories"
      multiple=true
      value=selectedCategories}}
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'uploadImages'}}>
            Save!
        </a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'cancel'}}>
            Cancel
        </a>
    </div>
  {{/if}}
{{/md-modal}}
{{else}}


<!-- BLOG POST MAIN CONTENT AREA -->
<div class="blog-post-banner-header one-edge-shadow">
  <div class="container center white-text">
    {{content-editable value=model.title tagName="h3" focus-out="saveEditable" type="text"}}
    {{content-editable value=model.price tagName="h5" focus-out="saveEditable" type="text"}}
  </div>
</div>
<div class="blog-post-body">
  <p class="blog-post-body-text">
    {{content-editable value=model.description focus-out="saveEditable" type="text"}}
  </p><br/>
  <!-- <div class="blog-post-banner-footer"></div> -->
    <p class="images">
      {{#each model.images as |image|}}
        <a href={{image.imgUrl}}>
          <img src={{image.imgUrl}} style="width: 100px; height: 100px;">
        </a>
      {{/each}}
    </p>
</div>
{{/if}}
