{{#if isEditing}}
  {{md-input type="text" value=model.title label="First name"}}
  {{md-input type="text" value=model.description label="Last name"}}
  {{md-input type="text" value=model.price label="Email"}}
  {{md-switch checked=model.inStock onLabel="In Stock" offLabel="Out of Stock"}}<br>
  <button class="button primary" {{action 'save'}}>Save</button>
  <button class="button" {{action 'cancel'}}>Cancel</button>
{{else}}
  {{#md-card title=model.title
      titleClass="orange-text"
      image=model.imageUrl
      id="image-card"}}
      {{#md-card-content}}
      <p>{{model.description}}</p>
      <h4><label>Price:</label>${{model.price}}</h4>
      <h4><label>Available:</label>{{model.inStock}}</h4>
      {{/md-card-content}}
      {{#md-card-action}}
        <button {{action 'edit'}}>Edit</button>
      {{/md-card-action}}
  {{/md-card}}
{{/if}}
