<div class="layout-hf-holy-grail">
  <div class="body">
    <main>
      {{#each model as |post|}}
      <div class="blog-post-banner-header one-edge-shadow">
        <div class="container">
          {{#link-to 'blog.posts.show' post}}<h3 class="center white-text">{{post.title}}</h3>{{/link-to}}
          <h5 class="center white-text">{{post.subtitle}}</h5>
        </div>
      </div>
      <div class="blog-post-body">
        <p class="blog-post-body-text">
          {{post.body}}
        </p><br/>
        <div class="blog-post-banner-footer">
          {{#if post.published}}
            {{md-btn text='Unpublish' class='indigo darken-2' action='unpublish' actionArg=post}}
          {{else}}
            {{md-btn text='Publish' class='indigo darken-2' action='publish' actionArg=post}}
          {{/if}}
          {{md-btn text='Edit' class='indigo darken-2' action='edit' actionArg=post}}
          {{md-btn text='Delete' class='indigo darken-2' action='delete' actionArg=post}}
          <div class="user-icon"><i class="mdi-maps-local-laundry-service indigo-color"></i></div>
          <div class="user-icon"><i class="mdi-hardware-phone-iphone indigo-color"></i></div>
          </div>
      </div>
      <hr>
      <br>
      {{/each}}
    </main>
    <aside>
      <ul>
        <li class="center">
          {{#link-to 'blog.tags.new' class="white-text"}}{{md-btn text='Add Tag' class='indigo darken-2'}}{{/link-to}}
          {{#link-to 'blog.posts.new' class="white-text"}}{{md-btn text='Add Post' class='indigo darken-2'}}{{/link-to}}
        </li><br>
        {{#each model as |post|}}
          {{#link-to 'blog.posts.show' post}}
            <div class="list-group-item">
            <h5 class="o-hidden"><strong>{{post.title}}</strong></h5>
            <p class="o-hidden">{{post.subtitle}}</p>
            </div>
          {{/link-to}}
        {{/each}}
      </ul>
    </aside>
  </div>
</div>
