<form id="opprtunity-form" class="create-form" {{action 'addOpportunity' on="submit"}}>
  <label for="opportunity-first-name">Title:</label>
  {{input id="opportunity-first-name" type="text" value=model.title placeholder="Enter title"}}
  <label for="opportunity-last-name">Stage:</label>
  <select required>
    <option value="">None</option>
    {{#each stages as |stage|}}
      <option {{action 'selectStage' stage}}>{{stage}}</option>
    {{/each}}
  </select>
  <label for="opportunity-email">Estimated Close:</label>
  {{input id="opportunity-email" type="text" value=model.estimatedClose placeholder="Enter close"}}
  <label for="opportunity-role">Estimated Amount:</label>
  {{input id="opportunity-role" type="text" value=model.estimatedAmount placeholder="Enter amount"}}
  <button class="button primary" type="submit">Add</button>
  <button {{action 'cancel'}} class="button">Cancel</button>
</form>
