<form id="opprtunity-form" class="create-form" {{action 'addOpportunity' on="submit"}}>
  {{md-input type="text" value=model.title label="Enter Title"}}
  <!-- <select required>
    <option>None</option>
    {{#each stages as |stage|}}
      <option {{action 'selectStage' stage}}>{{stage}}</option>
    {{/each}}
  </select> -->
  {{md-select content=stages
  value=selectedStage
  label="Stages"
  prompt="Please choose..."
  optionLabelPath="content"
  optionValuePath="content"}}
  {{md-input-date type="text" value=model.estimatedClose label="Enter Close"}}
  {{md-input type="text" value=model.estimatedAmount label="Enter Amount"}}
  <button type="submit">Add</button>
  <button {{action 'cancel'}} class="button">Cancel</button>
</form>
