{{#if isEditing}}
{{#md-modal close='closeModal' class="test-modal"}}
{{#if sendingData}}
<div class="modal-content">
<div class="col s10">
  {{md-loader}}
</div>
</div>
{{else}}
<div class="modal-content">
  {{md-input type="text" value=model.firstName label="First name"}}
  {{md-input type="text" value=model.lastName label="Last name"}}
  {{md-input type="text" value=model.email label="Email"}}
  {{md-select content=roles
  value=selectedRole
  label="Role"
  prompt="Please choose..."
  optionLabelPath="content"
  optionValuePath="content"}}
  {{md-input type="text" value=model.title label="Title"}}
  {{md-input type="text" value=model.phone label="Phone"}}
</div>
<div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" type="submit" {{action 'save'}}>
        Save!
    </button>
    <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'cancel'}}>
        Cancel
    </a>
</div>
{{/if}}
{{/md-modal}}
{{else}}
        <h2>{{model.fullName}}</h2>
        <h4>{{model.email}}</h4>
        <h4>{{model.role}}</h4>
        <h4>{{model.title}}</h4>
        <h4>{{model.phone}}</h4>
        {{md-btn text='Edit' class='cyan darken-3' action='edit'}}
{{/if}}
