{{#if isEditing}}
  {{md-input type="text" value=model.firstName label="First name"}}
  {{md-input type="text" value=model.lastName label="Last name"}}
  {{md-input type="text" value=model.email label="Email"}}
  {{md-select content=roles
  value=selectedRole
  label="Role"
  prompt="Please choose..."
  optionLabelPath="content"
  optionValuePath="content"}}
  {{md-input type="text" value=model.title label="Title"}}
  {{md-input type="text" value=model.phone label="Phone"}}
  <button class="button primary" {{action 'save'}}>Save</button>
  <button class="button" {{action 'cancel'}}>Cancel</button>
{{else}}
        <h2>{{model.fullName}}</h2>
        <h4>{{model.email}}</h4>
        <h4>{{model.role}}</h4>
        <h4>{{model.title}}</h4>
        <h4>{{model.phone}}</h4>
      <button {{action 'edit'}}>Edit</button>
{{/if}}
