
<ul class="collection with-header">
   <li class="collection-header"><h4>Tasks</h4></li>
   {{#each model.tasks as |task|}}
   <label>Task Name:</label>{{task.name}}
   <label>Description:</label>{{task.description}}
   <label>Due Date:</label>{{task.dueDate}}
   <label>Employee:</label>{{task.employee.fullName}}
   <label>User:</label>{{task.user.fullName}}
   {{/each}}
</ul>


<ul class="collection with-header">
   <li class="collection-header"><h4>Opportunities</h4></li>
   {{#each model.opportunities as |opportunity|}}
   <label>Title:</label>{{opportunity.title}}
   <label>Stage:</label>{{opportunity.stage}}
   <label>Estimated Close:</label>{{opportunity.estimatedClose}}
   <label>Estimated Amount:</label>${{opportunity.estimatedAmount}}
   {{/each}}
</ul>

<ul class="collection with-header">
   <li class="collection-header"><h4>Employees</h4></li>
   {{#each model.employees as |employee|}}
   <label>Name:</label>{{employee.fullName}}
   <label>Role:</label>{{employee.role}}
   <label>Title:</label>{{employee.title}}
   <label>Phone:</label>${{employee.phone}}
     {{#each employee.tasks as |task|}}
       {{#link-to 'crm.companies.show.tasks.show' task}}{{task.name}}{{/link-to}}<br/>
     {{/each}}
   {{/each}}
</ul>
