
<ul class="collection with-header">
   <li class="collection-header"><h4>Tasks</h4></li>
   {{#each model.tasks as |task|}}
   {{#link-to 'crm.companies.show.tasks.show' task class="collection-item"}}
     <label>Task Name:</label> {{task.name}}
     <label>Description:</label> {{task.description}}
     <label>Due Date:</label> {{task.dueDate}}
     <label>Employee:</label> {{#link-to 'crm.companies.show.employees.show' task.employee}}{{task.employee.fullName}}{{/link-to}}
     <label>User:</label> {{#link-to 'users.show' task.user}}{{task.user.fullName}}{{/link-to}}
     {{/link-to}}
   {{/each}}
</ul>


<ul class="collection with-header">
   <li class="collection-header"><h4>Opportunities</h4></li>
   {{#each model.opportunities as |opportunity|}}
   {{#link-to 'crm.companies.show.opportunities.show' opportunity class="collection-item"}}
     <label>Title:</label> {{opportunity.title}}
     <label>Stage:</label> {{opportunity.stage}}
     <label>Estimated Close:</label> {{opportunity.estimatedClose}}
     <label>Estimated Amount:</label> ${{opportunity.estimatedAmount}}
    {{/link-to}}
   {{/each}}
</ul>

<ul class="collection with-header">
   <li class="collection-header"><h4>Employees</h4></li>
   {{#each model.employees as |employee|}}
   {{#link-to 'crm.companies.show.employees.show' employee class="collection-item"}}
     <label>Name:</label> {{employee.fullName}}
     <label>Role:</label> {{employee.role}}
     <label>Title:</label> {{employee.title}}
     <label>Phone:</label> ${{employee.phone}}
     <label>Tasks:</label>
     {{#each employee.tasks as |task|}}
       {{#link-to 'crm.companies.show.tasks.show' task}}{{task.name}}{{/link-to}}
     {{/each}}
    {{/link-to}}
   {{/each}}
</ul>

<!-- <a href="#!" class="waves-effect waves-circle waves-light btn-floating secondary-content">
  <i class="material-icons">add</i>
</a> -->
