<h3>{{model.name}}'s Tasks</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Employee</th>
      <th>Assigned to</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.tasks as |task|}}
    <tr>
      <td>{{#link-to 'crm.companies.show.tasks.show' task}}{{task.name}}{{/link-to}}</td>
      <td>{{task.description}}</td>
      <td>{{task.dueDate}}</td>
      <td>{{#link-to 'crm.companies.show.employees.show' task.employee}}{{task.employee.fullName}}{{/link-to}}</td>
      <td>{{task.user.fullName}}</td>
      <td>{{#link-to 'crm.companies.show' task.company}}{{task.company.name}}{{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br>

<h3>{{model.name}}'s Opportunities</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Stage</th>
      <th>Estimated Close</th>
      <th>Estimated Amount</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.opportunities as |opportunity|}}
    <tr>
      <td>{{#link-to 'crm.companies.show.opportunities.show' opportunity}}{{opportunity.title}}{{/link-to}}</td>
      <td>{{opportunity.stage}}</td>
      <td>{{opportunity.estimatedClose}}</td>
      <td>{{opportunity.estimatedAmount}}</td>
      <td>{{#link-to 'crm.companies.show' opportunity.company}}{{opportunity.company.name}}{{/link-to}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br>

<h3>{{model.name}}'s Employees</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Title</th>
      <th>Phone #</th>
      <th>Tasks</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.employees as |employee|}}
    <tr>
      <td>{{#link-to 'crm.companies.show.employees.show' employee}}{{employee.fullName}}{{/link-to}}</td>
      <td>{{employee.role}}</td>
      <td>{{employee.title}}</td>
      <td>{{employee.phone}}</td>
      <td>
        {{#each employee.tasks as |task|}}
          {{#link-to 'crm.companies.show.tasks.show' task}}{{task.name}}{{/link-to}}<br/>
        {{/each}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
