<div class="row">
  {{#each model as |company|}}
  <div class="col l4 m6 s12">
    {{#md-card title=company.name
        titleClass="indigo-text"
        image="http://placehold.it/200x100"}}
        {{#md-card-content}}
            {{company.description}}
        {{/md-card-content}}
        {{#md-card-action}}
        {{link-to 'View' 'crm.companies.show' company}}
        <a {{action 'edit' company}}>Edit</a>
        <a {{action 'delete' company}}>Delete</a>
        {{/md-card-action}}
    {{/md-card}}
      </div>
  {{/each}}
</div>

<!-- {{#link-to 'crm.companies.show' company}}{{company.name}}{{/link-to}}
          {{company.address}}
          {{company.city}}
          {{company.state}}
          {{company.phone}}
          {{company.email}} -->
