<div class="row">
  <div class="col s12">
    {{#crm-companies-index}}
    <table>
      <thead>
        <tr class="header">
          <th>Company</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |company|}}
        <tr id="card-panel" class="ember-view card-panel">
              <td>{{#link-to 'crm.companies.show' company}}{{company.name}}{{/link-to}}</td>
              <td>{{company.address}}</td>
              <td>{{company.city}}</td>
              <td>{{company.state}}</td>
              <td>{{company.phone}}</td>
              <td>{{company.email}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/crm-companies-index}}
  </div>
</div>
