<div class="row">
  <div class="col s12">

    {{#crm-companies-index class="z-depth-2"}}
    <table>
      <thead>
        <tr class="header">
          <th>Company</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |company|}}
          <tr class="ember-view card-panel">
            <td>{{#link-to 'crm.companies.show' company}}{{company.name}}{{/link-to}}</td>
            {{content-editable value=company.address tagName="td" focus-out="saveEditable" type="text"}}
            {{content-editable value=company.city tagName="td" focus-out="saveEditable" type="text"}}
            {{content-editable value=company.state tagName="td" focus-out="saveEditable" type="text"}}
            {{content-editable value=company.phone tagName="td" focus-out="saveEditable" type="text"}}
            {{content-editable value=company.email tagName="td" focus-out="saveEditable" type="text"}}
            <!--Select dropdown of user to assign to goes here -->
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{/crm-companies-index}}
  </div>
</div>
