{{#if isEditing}}
  {{input type="text" value=model.title placeholder="Post title"}}
  {{input type="text" value=model.subtitle placeholder="Post subtitle"}}
  {{textarea type="text" value=model.body placeholder="Post body..."}}
  <button class="button primary" {{action 'save'}}>Save</button>
  <button class="button" {{action 'cancel'}}>Cancel</button>
{{else}}
  <h1>{{model.title}}</h1>
  <h3>{{model.subtitle}}</h3>
  <p>{{model.body}}</p>
  {{#if model.published}}
    <a {{action 'unpublish' model}}>Unpublish</a>
  {{else}}
    <a {{action 'publish' model}}>Publish</a>
  {{/if}}
      <a {{action 'edit'}}>Edit</a>
      <a {{action 'delete' model}}>Delete</a>
{{/if}}
