{{#if isEditing}}
  {{#md-modal close='cancel' class="test-modal"}}
    {{#if sendingData}}
      <div class="modal-content">
      <div class="col s10">
        {{md-loader}}
      </div>
      </div>
    {{else}}
      <div class="modal-content">
        {{input type="text" value=model.title placeholder="Post title"}}
        {{input type="text" value=model.subtitle placeholder="Post subtitle"}}
        {{textarea type="text" value=model.body placeholder="Post body..."}}
        <p class="file-input-field"><input type='file' multiple id='file-field'/> Upload an image</p>
      <div class="file-list">

      </div>
        {{md-switch checked=model.published onLabel="Publish" offLabel="Unpublish"}}<br>
      </div>
      Tags:
      {{ember-chosen
        content=tags
        optionLabelPath="name"
        optionValuePath="id"
        placeholder="Select tags for post"
        multiple=true
        value=selectedTags}}
      <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'uploadImages'}}>
              Save!
          </a>
          <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'cancel'}}>
              Cancel
          </a>
      </div>
    {{/if}}
  {{/md-modal}}
{{else}}
  <div class="blog-post-banner-header one-edge-shadow">
    <div class="container">
      <h3 class="center white-text">{{model.title}}</h3>
      <h5 class="center white-text">{{model.subtitle}}</h5>
    </div>
  </div>
  <div class="blog-post-body">
    <p class="blog-post-body-text">

        {{content-editable value=model.body tagName="h5" enter="saveEditable" type="html"}}

    </p><br/>
    <div class="blog-post-banner-footer">
      {{#if post.published}}
        {{md-btn text='Unpublish' class='blue-grey darken-1' action='unpublish' actionArg=post}}
      {{else}}
        {{md-btn text='Publish' class='blue-grey darken-1' action='publish' actionArg=post}}
      {{/if}}
      {{md-btn text='Edit' class='blue-grey darken-1' action='edit'}}
      </div>
  </div>
{{/if}}
