{{#if isEditing}}
  {{input type="text" value=model.title placeholder="Post title"}}
  {{input type="text" value=model.subtitle placeholder="Post subtitle"}}
  {{textarea type="text" value=model.body placeholder="Post body..."}}
  <button class="button primary" {{action 'save'}}>Save</button>
  <button class="button" {{action 'cancel'}}>Cancel</button>
{{else}}
  {{#md-card title=model.title
    titleClass="orange-text"
    image="http://placehold.it/900x200"
    id="image-card"}}
    {{#md-card-content}}
    <h4>{{model.subtitle}}</h4>
    <p>{{model.body}}</p>
    {{/md-card-content}}
    {{#md-card-action}}
      {{#if model.published}}
        <a {{action 'unpublish' model}}>Unpublish</a>
      {{else}}
        <a {{action 'publish' model}}>Publish</a>
      {{/if}}
      <button {{action 'edit'}}>Edit</button>
      <button {{action 'delete' model}}>Delete</button>
    {{/md-card-action}}
  {{/md-card}}
{{/if}}
