{{yield}}
<header>
  <h5 class="white-text-color blue-grey darken-2">Newsfeed</h5>
</header>
{{#md-card-collapsible accordion=false}}
  {{#md-collapsible icon="mdi-image-filter-drama"
      title="Todos"}}
      {{#md-card-collapsible}}
      {{#each todos as |todo|}}
          {{#md-collapsible icon="mdi-image-filter-drama"
            title=todo.title}}
            {{#each todo.checklists as |checklist|}}
              {{checklist.step}}. {{checklist.description}}<br/>
            {{/each}}
          {{/md-collapsible}}
      {{/each}}
      {{/md-card-collapsible}}
  {{/md-collapsible}}
{{/md-card-collapsible}}

{{#md-card-collapsible accordion=false}}
  {{#md-collapsible icon="mdi-image-filter-drama"
      title="CRM Tasks"}}
      {{#md-card-collapsible}}
      {{#each tasks as |task|}}
          {{#md-collapsible icon="mdi-image-filter-drama"
            title=task.name}}
            {{task.description}}
          {{/md-collapsible}}
      {{/each}}
      {{/md-card-collapsible}}
  {{/md-collapsible}}
{{/md-card-collapsible}}

<!-- {{#each tasks as |task|}}
  {{#md-card-panel class="blue-grey darken-1"
      bodyClass="white-text"}}
      {{#link-to 'tasks.show' task}}{{task.name}}{{/link-to}}
  {{/md-card-panel}}
{{/each}} -->
{{#md-card-collapsible accordion=false}}
  {{#md-collapsible icon="mdi-image-filter-drama"
      title="Recently Booked Events"}}
      {{#md-card-collapsible}}
      {{#each events as |event|}}
          {{#md-collapsible icon="mdi-image-filter-drama"
            title=event.title}}
          {{/md-collapsible}}
      {{/each}}
      {{/md-card-collapsible}}
  {{/md-collapsible}}
{{/md-card-collapsible}}




<!-- <main>





</main> -->
