{{#if products}}
<div class="layout-hf-holy-grail">
  <div class="body">
    <main>
      {{#each products as |product|}}
      <div class="blog-post-banner-header one-edge-shadow">
        <div class="container">
          {{#link-to 'estore.products.show' product}}<h3 class="center white-text">{{product.title}}</h3>{{/link-to}}
          <h5 class="center white-text">{{product.description}}</h5>
          </div>
      </div>
      <div class="blog-post-body">
        <p class="blog-post-body-text">
          <label>Price</label>{{product.price}}
          <label>Category</label>{{product.category}}
        </p><br/>
        <div class="blog-post-banner-footer">
          {{md-btn text='Edit' class='indigo darken-2' action='edit' actionArg=product}}
          {{md-btn text='Delete' class='indigo darken-2' action='delete' actionArg=product}}
          <!-- <div class="user-icon"><i class="mdi-maps-local-laundry-service indigo-color"></i></div>
          <div class="user-icon"><i class="mdi-hardware-phone-iphone indigo-color"></i></div> -->
          </div>
      </div>
      <hr>
      <br>
      {{/each}}
    </main>
    <aside>
      <ul>
        {{#each products as |product|}}
          {{#link-to 'estore.products.show' product}}
            <div class="list-group-item">
            <h5 class="o-hidden"><strong>{{product.title}}</strong></h5>
            <p class="o-hidden">{{product.description}}</p>
            </div>
          {{/link-to}}
        {{/each}}
      </ul>
    </aside>
  </div>
</div>

{{else}}

<div class="else-text">
  No products. Start by adding the one.
</div>
<div class="text-center">
  {{#link-to 'estore.categories.new' class="white-text"}}
  {{md-btn text='Add Category'
    class='indigo darken-2'}}
  {{/link-to}}
  {{#link-to 'estore.products.new' class="white-text"}}
  {{md-btn text='Add Product'
    class='indigo darken-2'}}
  {{/link-to}}
</div>

{{/if}}


<!-- {{#if model}}
<table>
  <thead>
    <tr>
      <th>
        <h4>Products</h4>
      </th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>In stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |product|}}
        <tr class="item">
          <td>{{#link-to 'estore.products.show' product}}{{product.title}}{{/link-to}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.inStock}}</td>
          <td>{{md-btn text='Edit' class='indigo darken-2' action='edit' actionArg=product}}{{md-btn text='Delete' class='indigo darken-2' action='delete' actionArg=product}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<br>
<div class="else-text">
  No products to show. Start by adding one.
</div>
{{/if}} -->
