{{yield}}
<header>
  <h5 class="white-text-color cyan darken-4">Newsfeed</h5>
</header>
<main>
  {{#each filteredTasks as |task|}}
    {{#md-card-panel class="cyan lighten-1"
        bodyClass="white-text"}}
        {{task.name}} should be completed {{task.taskDue}}.
    {{/md-card-panel}}
  {{/each}}

  {{#each filteredOpps as |opportunity|}}
  {{#md-card-panel class="cyan darken-1"
      bodyClass="white-text"}}
      {{opportunity.title}} should be closed {{opportunity.oppDue}} for ${{opportunity.estimatedAmount}}
  {{/md-card-panel}}
  {{/each}}
</main>
