{{yield}}
<header>
  <h5 class="white-text-color cyan darken-4">Newsfeed</h5>
</header>
<main>
  {{#each tasks as |task|}}
    {{#md-card-panel class="cyan lighten-1"
        bodyClass="white-text"}}
        New Task: {{task.name}}
    {{/md-card-panel}}
  {{/each}}

  {{#each opportunities as |opportunity|}}
  {{#md-card-panel class="cyan darken-1"
      bodyClass="white-text"}}
      New Opportunity: {{opportunity.title}} on {{opportunity.stage}} Stage, should be closed at {{opportunity.estimatedClose}} for ${{opportunity.estimatedAmount}}
  {{/md-card-panel}}
  {{/each}}
</main>
