  <div class="row">
    {{#each model as |board|}}
      {{#draggable-object-target action="changeBoard" board=board}}
      <div id="board-{{board.id}}" class="board-item z-depth-1 grey lighten-5 col s12 m2">
        <h5 class="board-title">{{board.title}}</h5><span class="delete-board" style="float: right; font-weight: bold; cursor: pointer;" {{action 'deleteBoard' board}}>X</span>
        <button class="modal-action modal-close waves-effect waves-orange btn-flat" {{action 'addTodo' board}}>Add Todo</button>
        {{#each board.todos as |todo|}}
        {{#draggable-object content=todo}}
          <div id="todo-{{todo.id}}" class="todo-item teal white-text z-depth-1" style="min-height: 50px;" {{action 'showTodo' todo}}><strong>{{todo.title}}</strong>
            <span style="float: right; font-weight: bold;" {{action 'deleteTodo' todo}}>X</span>
            <br>{{#link-to 'users.show' todo.user}}{{todo.user.fullName}}{{/link-to}}<br/><br/>
          {{#if todo.checklists}}
            <strong>Checklists:</strong><br/>
            {{#each todo.checklists as |checklist|}}
            <span>{{checklist.step}}. {{checklist.description}}</span><br/>
            {{/each}}
          {{/if}}
          </div>
        {{/draggable-object}}
        {{else}}
          <br/>
          No todos. Start by adding one.
        {{/each}}
      </div>
      {{/draggable-object-target}}
    {{/each}}
  </div>
