<div class="crm-hero">
  <div class="row">
    <div class="col s12">
      {{#md-card-panel class="cyan darken-4 hoverable" bodyClass="white-text" id="card-panel"}}
        <p class="hero-text left-align">
        Welcome {{session.secure.first_name}} {{session.secure.last_name}},<br>
        You have {{todaysEvents.length}} events today.<br>
        {{md-btn text='View Calendar' action='viewCalendar' class='btn-flat cyan darken-2 white-text'}}</p>
        <p class="left-align">{{!user.events.demo}}1 Demo
        1 Quote Review{{!other event/or KPI data thats relavent to the day}}
        <span class="3x">{{tasks.length}}</span> New Tasks.
        <span class="3x">10</span> New Leads.
        </p>
      {{/md-card-panel}}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      {{crm-news-feed class="hoverable" tasks=tasks opportunities=opportunities}}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      {{crm-tasks-index class="hoverable" tasks=tasks}}
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      {{#crm-companies-index class="hoverable"}}
        <header>
          <h5 class="white-text-color cyan darken-2">Companies</h5>
        </header>
        <main>
          {{#each model as |company|}}
            <div id="card-panel" class="cyan darken white-text ember-view card-panel">
              {{#link-to 'crm.companies.show' company}}{{company.name}}{{/link-to}}
              {{company.address}}
              {{company.city}}
              {{company.state}}
              {{company.phone}}
              {{company.email}}
            </div>
          {{/each}}
        </main>
      {{/crm-companies-index}}
    </div>
  </div>

</div>
