<table>
  <thead>
    <tr>
      <th>
        <h4>Companies</h4>
      </th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |company|}}
        <tr class="item">
          <td>{{#link-to 'crm.companies.show' company}}{{company.name}}{{/link-to}}</td>
          <td>{{company.address}}</td>
          <td>{{company.city}}</td>
          <td>{{company.state}}</td>
          <td>{{company.phone}}</td>
          <td>{{company.email}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>
        <h4>Opportunities</h4>
      </th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Stage</th>
      <th>Estimated Close</th>
      <th>Estimated Amount</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
     {{#each opportunities as |opportunity|}}
        <tr class="item">
          <td>{{opportunity.title}}</td>
          <td>{{opportunity.stage}}</td>
          <td>{{opportunity.estimatedClose}}</td>
          <td>{{opportunity.estimatedAmount}}</td>
          <td>{{opportunity.company.name}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>
        <h4>Tasks</h4>
      </th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Employee</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks as |task|}}
        <tr class="item">
          <td>{{task.name}}</td>
          <td>{{task.description}}</td>
          <td>{{task.dueDate}}</td>
          <td>{{task.employee.fullName}}</td>
          <td>{{task.company.name}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>
