<div class="flexbox-container-login">
  <div class="login-form blue-grey darken-2 hoverable z-depth-5">
      <form {{action 'logIn' on="submit"}}>
        {{#if isShowingError}}
        {{error}}
        {{/if}}
        <h3 class="white-text center">Login</h3>
        {{input type="email" value=identification placeholder="Email"}}
        {{input type="password" value=password placeholder="Password"}}
        <div class="v-pad-20"></div>
        <button type="submit" class="btn-large">Log in</button>
        <!-- <button {{action 'signUp'}}>Sign up</button> -->
        <br><br>
        <span>Don't have an account? {{#link-to 'signup'}} Signup{{/link-to}}</span>
      </form>
  </div>
</div>

<!--
<div class="flexbox-container">
  <form id="user-form" class="create-form signup-form shadow1" {{action 'signUp' on="submit"}}>
    <h1>Sign Up</h1>
    {{input class="m-top-50" type="text" value=model.firstName placeholder="First name"}}
    {{input type="text" value=model.lastName placeholder="Last name"}}
    {{input type="email" value=model.email placeholder="Email"}}
    {{input type="password" value=model.password placeholder="Password"}}
    <button class="button primary-inverse" type="submit">Sign up</button>
    Already have an account? {{#link-to 'login'}}Login{{/link-to}}.
  </form>
</div> -->
