<div class="flexbox-container-login">
  <div class="login-form blue-grey darken-2 hoverable z-depth-5">
    {{#if isShowingError}}
    {{error}}
    {{/if}}
    <form {{action 'signUp' on="submit"}}>
      <h3 class="white-text text-center">Sign Up</h3>
      {{input type="text" value=model.firstName placeholder="First name"}}
      {{input type="text" value=model.lastName placeholder="Last name"}}
      {{input type="email" value=model.email placeholder="Email"}}
      {{input type="password" value=model.password placeholder="Password"}}
      <button class="btn-large" type="submit">Sign up</button>
      <span class="align-right">Already have an account? {{#link-to 'login'}}Login{{/link-to}}.</span>
    </form>
  </div>
</div>
