{{#if isEditing}}
{{#md-modal close='cancel' class="test-modal"}}
{{#if sendingData}}
<div class="modal-content">
<div class="col s10">
  {{md-loader}}
</div>
</div>
{{else}}
<div class="modal-content">
  {{md-input type="text" value=model.name label="Team name"}}
</div>
<div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" type="submit" {{action 'save'}}>
        Save!
    </button>
    <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'cancel'}}>
        Cancel
    </a>
</div>
{{/if}}
{{/md-modal}}
{{else}}
  <h1>{{model.name}}</h1>
  <div class="collection">
    {{#each model.users as |user|}}
      {{#link-to 'users.show' user class="collection-item"}}
        <label>Full name </label>{{user.fullName}}
        <label>Email </label>{{user.email}}
        <button {{action 'edit' team}}>Edit</button>
        <button {{action 'delete' team}}>Delete</button>
      {{/link-to}}
    {{/each}}
  </div>

{{/if}}
