<table>
  <thead>
    <tr>
      <th>
        <h4>Orders</h4>
      </th>
    </tr>
    <tr>
      <th>Order No.</th>
      <th>Total</th>
      <th>State</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |order|}}
        <tr class="item">
          <td>{{#link-to 'estore.orders.show' order}}{{order.id}}{{/link-to}}</td>
          <td>${{order.total}}</td>
          <td>{{order.state}}</td>
          {{#if order.user}}
            <td>{{order.user}}</td>
          {{else}}
            <td>Guest</td>
          {{/if}}
          <td>{{md-btn text='Edit' class='indigo darken-2' action='delete' actionArg=order}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>
