{{#md-modal close='closeModal' class="test-modal"}}
{{#if sendingData}}
<div class="modal-content">
<div class="col s10">
  {{md-loader}}
</div>
</div>
{{else}}
<form id="product-form" multipart="true" class="create-form" {{action 'add' on="submit"}}>
<div class="modal-content">
  {{md-input type="text" value=model.title label="Product title"}}
  {{md-textarea type="text" value=model.description label="Product description"}}
  {{md-input type="text" value=model.price label="Product price"}}
  <input type='file' id='file-field'/> Upload an image
  {{md-switch checked=model.inStock onLabel="In Stock" offLabel="Out of Stock"}}<br>
</div>
  <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'add'}}>
          Add
      </a>
      <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'cancel'}}>
          Cancel
      </a>
  </div>
</form>
{{/if}}
{{/md-modal}}
