<div class="layout-hf-holy-grail">
  <div class="body">
    <aside>
      <ul>
        {{#each users as |user|}}
          {{#link-to 'users.show' user}}
          <div class="list-group-item-parent">
            <h5 class="child">
              <img class="center clip-polygon size" src="assets/images/Sarrah.jpg"/>
              <span class="user-text">{{user.fullName}}</span>
            </h5>
          </div>
          {{/link-to}}
        {{/each}}
      </ul>
    </aside>
    <main class="main-message">
      <div class="messages-list">
        {{#each model as |message|}}
        <div class="message">
          <p>{{message.user.fullName}}: {{message.message}}</p>
        </div>
        {{/each}}
      </div>
    </main>
    <div class="message-input">
      <form {{action 'sendMessage' on="submit"}}>
        {{input type="text" value=messageToSend placeholder="Enter message to send..."}}
        <button class="hide" type="submit">Send</button>
      </form>
    </div>
    </div>

    </div>
