<hr>
{{#if model}}
    {{#each model as |employee|}}
          {{#link-to 'crm.companies.show.employees.show' employee}}{{employee.fullName}}{{/link-to}}
          {{employee.email}}
          {{employee.role}}
          {{employee.title}}
          {{employee.phone}}
          <button {{action 'editEmployee' employee}}>Edit</button><button class="button primary" {{action 'deleteEmployee' employee}}>Delete</button>
          <hr>
    {{/each}}
<button class="button primary">Send Email</button>
{{else}}
No employees. Start by adding the one.
{{/if}}
