{{#if model}}
<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Title</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |employee|}}
    <tr>
      <td>{{#link-to 'crm.companies.show.employees.show' employee}}{{employee.fullName}}{{/link-to}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.role}}</td>
      <td>{{employee.title}}</td>
      <td>{{employee.phone}}</td>
      <td>{{md-btn text='Edit' class='blue-grey darken-1' action='edit' actionArg=employee}}{{md-btn text='Delete' class='blue-grey darken-1' action='delete' actionArg=employee}}{{md-btn text='Send Email' class='blue-grey darken-1' action='sendEmail' actionArg=employee}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
No employees. Start by adding the one.
{{/if}}
