{{#if model}}
<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Title</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |employee|}}
    <tr>
      <td>{{#link-to 'crm.companies.show.employees.show' employee}}{{employee.fullName}}{{/link-to}}</td>
        {{content-editable value=employee.email tagName="td" focus-out="saveEditable" type="text"}}
        {{content-editable value=employee.role tagName="td" focus-out="saveEditable" type="text"}}
        {{content-editable value=employee.title tagName="td" focus-out="saveEditable" type="text"}}
        {{content-editable value=employee.phone tagName="td" focus-out="saveEditable" type="text"}}
      <td>
        {{md-btn text='Delete' class='blue-grey darken-1' action='delete' actionArg=employee}}
        {{md-btn text='Send Email' class='blue-grey darken-1' action='sendEmail' actionArg=employee}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="else-text">
  No employees. Start by adding the one.
</div>
{{/if}}
