<div class="collection">
  {{#each model as |product|}}
    {{#link-to 'estore.products.show' product class="collection-item"}}
      <label>Name </label>{{product.title}}
      <label>Description </label>{{product.description}}
      <label>Price </label>${{product.price}}
      <label>In Stock </label>{{product.inStock}}
      <button {{action 'edit' product}}>Edit</button>
      <button {{action 'delete' product}}>Delete</button>
    {{/link-to}}
  {{/each}}
</div>
<!-- <table>
  <thead>
    <tr>
      <th>
        <h4>Products</h4>
      </th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>In stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |product|}}
        <tr class="item">
          <td>{{#link-to 'estore.products.show' product}}{{product.title}}{{/link-to}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.inStock}}</td>
          <td><button {{action 'edit' product}}>Edit</button></td>
          <td><button {{action 'delete' product}}>Delete</button></td>
        </tr>
    {{/each}}
  </tbody>
</table> -->
