{{#if model}}
<table>
  <thead>
    <tr>
      <th>
        <h4>Products</h4>
      </th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>In stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |product|}}
        <tr class="item">
          <td>{{#link-to 'estore.products.show' product}}{{product.title}}{{/link-to}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.inStock}}</td>
          <td>{{md-btn text='Edit' class='indigo darken-2' action='edit' actionArg=product}}{{md-btn text='Delete' class='indigo darken-2' action='delete' actionArg=product}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="else-text">
  No products to show. Start by adding one.  
</div>
{{/if}}
